<h1 class="text-center"> Stupid Coaching </h1>
<p class="text-center mt-5 lead"><%= @question %> </p>

<br>
<br>
<br>
<p class="text-center"><%= @answer %> </p>
<br>
<br>
<br>


<button class="btn btn-primary"> <%= link_to "ASK", "/ask" %> </button>

